<div class="flex flex-col h-full pb-3 relative">
    <button class="absolute top-0 right-0 mt-3 mr-3 text-gray-600 hover:text-gray-800 focus:outline-none" (click)="onNoClick()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>

    <h1 class="pt-10 text-gray-800 font-bold bg-white text-center">{{title}}</h1>

    <mat-dialog-content class="bg-white overflow-y-scroll flex-grow" *ngIf="data.component">
        <ng-container *ngComponentOutlet="data.component"></ng-container>
    </mat-dialog-content>

    <mat-dialog-actions *ngIf="!data?.isReadonly" class="flex justify-between flex-row items-center p-5">
        <button mat-button (click)="onNoClick()" class="cancel-button">{{cancelButtonText}}</button>
        <button mat-button cdkFocusInitial (click)="onSaveClick()" class="save-button">{{saveButtonText}}</button>
    </mat-dialog-actions>
</div>
