::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: white;
}

button {
    color: black !important;
}

.mat-mdc-dialog-actions {
    justify-content: space-between;
    padding: 0 2.5em;
}

.save-button {
    background-color: #3f6c99;
    border-radius: 5px;
    color: white !important;
}

.cancel-button {
    background-color: rgb(195, 193, 193);
    border-radius: 5px;
    color: white !important;
}

::ng-deep .mdc-dialog__content {
    overflow: hidden;
}