<mat-drawer-container class="example-container bg-transparent" [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="'side'" class="w-60 text-white fixed">
        <!-- Other links and category names here -->

        <!-- Sidebar starts -->
        <div class="bg-gray-800 h-screen overflow-y-auto">
            <div class="mat-drawer-header h-10 flex items-center justify-start pl-3">
                <div class="text-white text-2xl">
                    RP ADMIN
                </div>
            </div>

            <nav class="mt-4">
                <!-- Dashboard Link -->
                <a routerLink="/administration" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">dashboard</mat-icon>
                    Dashboard
                </a>

                <!-- User Management Links -->
                <p class="text-gray-400 mx-6 pt-4 uppercase pl-3">User Management</p>
                <a href="/users" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">group</mat-icon>
                    User List
                </a>
                <a href="/organizations" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">domain</mat-icon>
                    Organization List
                </a>

                <!-- Animal Management Links -->
                <p class="text-gray-400 mx-6 pt-4 pl-3 uppercase">Animal Management</p>
                <a href="/animal-types" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">pets</mat-icon>
                    Animal Types
                </a>
                <a href="/animal-sizes" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">straighten</mat-icon>
                    Animal Sizes
                </a>

                <!-- Content Management Links -->
                <p class="text-gray-400 mx-6 pt-4 uppercase pl-3">Content Management</p>
                <a href="/posts" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">post_add</mat-icon>
                    Posts
                </a>
                <a href="/events" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">event</mat-icon>
                    Events
                </a>
                <a href="/success-stories" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">star_rate</mat-icon>
                    Success Stories
                </a>
                <a href="/media" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">perm_media</mat-icon>
                    Images & Videos
                </a>

                <!-- Location Services Links -->
                <p class="text-gray-400 mx-6 pt-4 uppercase pl-3">Location Services</p>
                <a href="/towns" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">location_city</mat-icon>
                    Towns
                </a>
                <a href="/locations" class="flex items-center px-3 py-2 text-white hover:bg-gray-700">
                    <mat-icon class="mr-2">public</mat-icon>
                    Locations
                </a>
            </nav>
        </div>
        <!-- Sidebar ends -->

    </mat-drawer>
    <mat-drawer-content class="bg-transparent">
        <rp-layout class="sticky top-0"
                   (onLanguageSelect)="selectLanguage($event)" 
                   (onSidebarToggle)="toggleSidebar()"></rp-layout>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>