<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">{{'sign-up.display-name' | rpTranslate:'authentication':selectedLanguage}}</h1>
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="fullname"
                placeholder="{{'sign-up.username' | rpTranslate:'authentication':selectedLanguage}}" />

            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="email"
                placeholder="{{'sign-up.email' | rpTranslate:'authentication':selectedLanguage}}" />

            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="password"
                placeholder="{{'sign-up.password' | rpTranslate:'authentication':selectedLanguage}}" />
            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="confirm_password"
                placeholder="{{'sign-up.confirm-password' | rpTranslate:'authentication':selectedLanguage}}" />

            <button
                type="submit"
                class="w-full text-center py-3 rounded bg-[#6699CC] hover:bg-[#4A82BA] text-white hover:bg-green-dark focus:outline-none my-1"
            >{{'sign-up.create-account' | rpTranslate:'authentication':selectedLanguage}}</button>

            <div class="text-center text-sm text-grey-dark mt-4">
                {{'sign-up.agree-with' | rpTranslate:'authentication':selectedLanguage}}
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    {{'sign-up.terms-of-use' | rpTranslate:'authentication':selectedLanguage}}
                </a> {{'sign-up.and' | rpTranslate:'authentication':selectedLanguage}}
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    {{'sign-up.privacy-policy' | rpTranslate:'authentication':selectedLanguage}}
                </a>
            </div>
        </div>

        <div class="text-grey-dark mt-6">
            {{'sign-up.already-user' | rpTranslate:'authentication':selectedLanguage}}
            <a class="no-underline border-b border-blue text-[#6699CC] cursor-pointer"
               (click)="signIn()">
                {{'sign-up.sign-in' | rpTranslate:'authentication':selectedLanguage}}
            </a>.
        </div>
    </div>
</div>