<mat-card class="bg-white w-[350px]">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions class="flex flex-row items-center justify-between gap-5">
        <div class="flex flex-row justify-start items-center gap-4">
            <button mat-icon-button aria-label="Like" class="flex items-center" *ngIf="hasLikeBtn" (click)="like()" [matBadge]="likesCount" matBadgeSize="small" matBadgePosition="above after" matBadgeColor="accent">
                <mat-icon [ngClass]="{'text-red-300': hasLike === false, 'text-red-500': hasLike === true}">favorite</mat-icon>
            </button>
    
            <button mat-icon-button aria-label="Favourite" class="flex items-center" *ngIf="hasFavouriteBtn" (click)="favourite()">
                <mat-icon [ngClass]="{'text-gray-300': hasFavourite === false, 'text-yellow-300': hasFavourite === true}">star</mat-icon>
            </button>
        </div>
        

        <button mat-button class="bg-blue-300 text-white rounded-full p-1" *ngIf="hasReadBtn">READ</button>
    </mat-card-actions>
</mat-card>