<div class="font-sans leading-normal tracking-normal h-[100vh]">
    <div class="relative bg-cover bg-center text-white py-24 px-10 object-fill h-[70%] flex justify-center items-center" style="background-image: url('../../../../assets/images/homepage/slider-dog-3.jpg');">
        <div class="md:max-w-6xl md:mx-auto absolute left-[60%] text-start">
          <div class="flex flex-col items-center justify-center">
            <div class="p-4">
              <p class="text-7xl main-text">
                {{'main-page.main-text-first' | rpTranslate:'home':selectedLanguage}}
                <br/>
                {{'main-page.main-text-second' | rpTranslate:'home':selectedLanguage}}
              </p>
              <p class="mt-2 text-3xl font-light text">{{'main-page.secondary-text' | rpTranslate:'home':selectedLanguage}}</p>
              <button class="text-md mt-4 px-4 py-2 bg-[#6699CC] hover:bg-[#4A82BA] rounded">{{'main-page.adopt-now' | rpTranslate:'home':selectedLanguage}}</button>
            </div>
          </div>
        </div>
      </div>
    
      Adopt Cats Section
      <div class="py-8">
        <div class="md:max-w-6xl md:mx-auto px-5">
          <div class="text-center">
            <h2 class="text-4xl font-bold text">{{'main-page.learn-more' | rpTranslate:'home':selectedLanguage}}</h2>
            <p class="mt-3 text-lg text-ellipsis text-gray-500">{{'main-page.learn-more-text' | rpTranslate:'home':selectedLanguage}}</p>
          </div>
        </div>
      </div>
</div>
