
<!-- <rp-layout (onLanguageSelect)="selectLanguage($event)"></rp-layout> -->
<rp-sidebar (onLanguageSelect)="selectLanguage($event)"></rp-sidebar>
<!-- <router-outlet></router-outlet> -->
<!-- <sign-up *ngIf="signUpSelected" [selectedLanguage]="selectedLanguage" (onSignInClick)="changeForm()"></sign-up>
<sign-in *ngIf="signInSelected" [selectedLanguage]="selectedLanguage" (onSignUpClick)="selectSignUp()" ></sign-in> -->

<!-- <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="'side'">I'm a drawer</mat-drawer>
    <mat-drawer-content>
        <rp-layout (onLanguageSelect)="selectLanguage($event)"></rp-layout>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> -->